@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600&display=swap');

@font-face {
    font-family: 'BrandonText';
    font-style: normal;
    font-display: block;
    font-weight: 400;
    src: url('../fonts/BrandonText-Medium.woff2') format('woff2'),
        url('../fonts/BrandonText-Medium.woff') format('woff');
}

@font-face {
    font-family: 'BrandonText';
    font-style: normal;
    font-display: block;
    font-weight: 700;
    src: url('../fonts/BrandonText-Bold.woff2') format('woff2'),
        url('../fonts/BrandonText-Bold.woff') format('woff');
}

@font-face {
    font-family: 'BrandonText';
    font-style: normal;
    font-display: block;
    font-weight: 900;
    src: url('../fonts/BrandonText-Black.woff2') format('woff2'),
        url('../fonts/BrandonText-Black.woff') format('woff');
}
