h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
  font-weight: $font-weight-black;
  margin: 0;
  line-height: $heading-line-height;
  color: $gray-darkest;
}

h1 {
  text-rendering: optimizeLegibility;
}

p {
  margin: 0;
}

a {
  color: $brand-blue;
  text-decoration-color: transparentize($brand-blue, 0.85);
  text-decoration-thickness: 0.15em;
  transition: text-decoration-color $duration;
  // text-underline-position: under;

  &:hover {
    text-decoration-color: $brand-blue;
  }
}