.button {
  position: relative;
  font-size: ms(1);
  display: inline-block;
  border: 0.1em solid $brand-blue;
  border-radius: $border-radius;
  color: $brand-blue;
  text-decoration: none;
  line-height: 1.5 * $line-height;
  padding: 0 $spacing;
  font-weight: $font-weight-bold;
  text-transform: lowercase;

  &--green {
    border: 2px solid $brand-green;
    color: $brand-green;
  }

  &--white {
    background-clip: padding-box;
    background-color: transparentize(#fff, 0.15);
    border: none;
    color: $brand-blue;
    line-height: 2 * $line-height;
    transition: border-color 1s $animation-curve-default;
    box-shadow: $box-shadow-elevated;
  }

  &--arrow {
    padding-right: $spacing;

    &::after {
      content: '>';
      font-size: ms(5);
      line-height: 1;
      position: absolute;
      top: 50%;
      transform: translateY(-60%);
      opacity: 0.75;
      right: $spacing/4;
      transition: opacity 1s $animation-curve-default;
    }

    &:hover {
      border-color: transparentize($brand-blue,0.5);

      &::after {
        opacity: 1;
      }
    }
  }
}