.header {
  background-color: #fff;
  padding: $spacing/2 0 $spacing;
  position: relative;
  z-index: 9;
  box-shadow: none;

  @include mq(md) {
    padding: $spacing 0;
  }

  @include orientation(landscape) {
    box-shadow: $box-shadow;
  }

  &__inner {
    display: flex;
    flex-direction: column-reverse;
    gap: $spacing;
    justify-content: space-between;
    align-items: center;
    @include mq(md) {
      gap: 0;
      flex-direction: row;
    }
  }

  &__brand {
    display: inline-block;
    position: relative;
    padding-left: 1.6 * $spacing;
    @include mq(md) {
      padding-left: 2.25 * $spacing;
    }
    text-decoration: none;
  }

  &__name {
    color: a11y-color(ms(1), true, $brand-blue, #fff);
    font-size: ms(3);
    text-transform: lowercase;
    line-height: 1;
    font-weight: $font-weight-bold;
  }

  &__description {
    font-size: ms(1);
    text-transform: lowercase;
    font-weight: $font-weight-bold;
  }

  .icon--loop {
    position: absolute;
    top: 0;
    width: 1.75 * $spacing;
    height: auto;
    opacity: 1;
    stroke-width: 0.3rem;
    margin-top: -0.25 * $spacing;
    left: -$spacing/4;

    @include mq(md) {
      width: 2 * $spacing;
      margin-top: -0.35 * $spacing;
      left: 0;
    }
  }

  &__talk {
    @include mq(sm) {
      margin-left: $spacing/3;
    }
  }

  &__call {
    margin: -0.6rem 0;
    font-weight: $font-weight-bold;
    font-family: $font-family-heading;
    display: none;

    .call-us {
      display: none;

      @include orientation(landscape) {
        display: inline;
      }
    }

    svg {
      display: none;

      @include orientation(landscape) {
        display: inline;
      }
    }

    @include orientation(landscape) {
      border-color: transparent;
      text-decoration: none;
      text-transform: none;
      font-weight: 900;
      color: a11y-color(ms(1), true, $brand-green, #fff);
    }
  }
}
