.home-advice {
  padding: 2 * $spacing $spacing/2;
  @include orientation(landscape) {
    padding: 4 * $spacing 0;
  }
  position: relative;
  z-index: 1;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include orientation(landscape) {
      flex-direction: row;
    }
  }

  &__text {
    flex: 0 1 45%;

    p {
      font-size: ms(1);
      max-width: $text-line-length;
      margin-bottom: $spacing;
    }
  }

  &__heading {
    font-size: ms(5);
    color: a11y-color(ms(5), true, $brand-green);
    margin-bottom: 1.5 * $spacing;
    max-width: $text-line-length;

  }

  &__sections {
    position: relative;
    z-index: 9;
    width: 100%;

    @include orientation(landscape) {
      flex: 0 0 35%;
      margin-right: 2 * $spacing;
    }

    .button {

      display: block;
      white-space: nowrap;
      font-family: $font-family-heading;
      margin-bottom: $spacing/2;

      @include mq(md) {
        &:first-child {
          margin-top: -$spacing;
        }
        margin-bottom: $spacing/2;
      }
    }
  }

  &--loop {
    right: 0;
    bottom: 0;
    transform: translate(15%,35%) rotate(10deg);
    height: auto;
    position: absolute;
    color: $brand-peach;
  }
}