.home-hero {
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding-top: 2 * $spacing;

  @include orientation(landscape) {
    height: 65vh;
    padding-top: 0;
  }

  .container {
    margin: 0 auto;
    max-width: map-get($breakpoints, lg);
    position: relative;
    z-index: 9;
  }

  &__title {
    line-height: $heading-line-height;
    font-weight: $font-weight-black;
    color: a11y-color(ms(8), true, $brand-green);
    max-width: $text-line-length-short;
    margin-left: auto;
    margin-right: auto;
    font-size: ms(7);
    margin-bottom: $spacing;

    @include orientation(landscape) {
      font-size: ms(8);
      margin-bottom: 1 * $spacing;
    }
  }

  &__subtitle {
    font-family: $font-family-heading;
    line-height: $line-height-medium;
    color: a11y-color(ms(2), true, $brand-blue);
    margin: 0 auto $spacing;
    font-weight: $font-weight-bold;
    font-size: ms(2);
    max-width: $text-line-length;
  }

  &__start {
    line-height: $heading-line-height;
    text-transform: lowercase;
    font-size: ms(1);
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: $brand-gold;
    color: white;
    text-decoration: none;
    height: 3 * $spacing;
    width: 3 * $spacing;
    border-radius: 99999px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-spacing: 9999px;
    box-shadow: $box-shadow-elevated;
  }

  .icon--loop {
    color: $brand-blue;
    position: absolute;
    height: auto;
    left: 0;
    top: 0;
    transform: translate(-55%, 25%) rotate(65deg);

    @include orientation(landscape) {
      transform: translate(-57.5%, -75%) rotate(65deg);
    }

    &.loop--hero--right {
      left: auto;
      right: 0;
      top: auto;
      bottom: 0;
      transform: translate(50%, -90%);

      @include orientation(landscape) {
        transform: translate(32.5%, 15%);
      }
    }
  }
}