.home-support {
  background-color: $brand-light-pink;
  padding: 2 * $spacing 0;
  position: relative;
  z-index: 3;

  .container {
    @include orientation(landscape) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__text {
    flex: 0 0 55%;
    background-color: transparentize(#fff, 0.25);
    position: relative;
    z-index: 9;
    padding: $spacing;
    box-shadow: $box-shadow-elevated;

    @include orientation(landscape) {
      padding: 2 * $spacing;
    }

    p {
      font-size: ms(1);
      max-width: $text-line-length;
      margin-bottom: $spacing;
    }
  }

  &__heading {
    font-size: ms(5);
    color: a11y-color(ms(5), true, $brand-blue, $brand-light-green);
    margin-bottom: $spacing/2;
    max-width: $text-line-length;
  }

  &__image {
    margin-top: -$spacing;
    @include orientation(landscape) {
      margin-top: 0;
      top: -$spacing;
      right: 5%;
      position: absolute;
      bottom: -$spacing;
      width: 100%;
    }

    img {
      width: 100%;
      margin-right: -20%;
      margin-bottom: -3 * $spacing;
      @include orientation(landscape) {
        margin-right: 0;
        margin-bottom: 0;
        width: auto;
      }
      display: block;
      margin-left: auto;
      height: 100%;
      clip-path: url('#image-mask');
    }
  }

  &__call {
    font-size: ms(3);
    text-decoration: none;
    font-weight: 900;
    color: $brand-green;
    color: a11y-color(ms(3), true, $brand-green, $brand-light-green);
  }

  &--loop {
    color: $brand-light-blue;
    left: 0;
    top: 0;
    transform: translate(-15%, 2.5%) rotate(80deg);
    height: auto;
    position: absolute;

    @include orientation(landscape) {
      transform: translateY(12.5%) rotate(60deg);
      top: auto;
      bottom: 0;
    }
  }

}