.page {

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2 * $spacing;

    @extend .container;

    @include orientation(portrait) {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
    }

    @include mq-down(lg) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__sidebar {
    display: block;

    @include orientation(portrait) {
      display: none;
    }

    @include mq(md) {
      display: block;
    }

    flex: 0 0 28%;
    padding: 3 * $spacing $spacing/2 3 * $spacing $spacing/1.5;
    background-color: white;
    border-right: 1px solid $gray-light;

    &__menu {
      position: sticky;
      top: 1.5 * $spacing;

      &__title {
        font-family: $font-family-base;
        margin-bottom: $spacing/2;
        font-size: ms(0);
        font-weight: 600;
      }

      &__link {
        text-decoration: none;
        display: block;
        margin: 0 (-$spacing/2) 0 (-$spacing/1.5);
        color: $gray-medium;
        padding: $spacing/2 $spacing/1.5;
        transition: background-color $duration, color $duration;

        &:hover {
          background-color: lighten($brand-green, 55%);
          color: a11y-color(ms(0), false, $brand-green, lighten($brand-green, 55%));
        }

        &--active,
        &:active {
          background-color: lighten($brand-green, 50%) !important;
          color: a11y-color(ms(0), false, $brand-green, lighten($brand-green, 50%)) !important;
        }
      }
    }

    + .page__inner {
      padding-left: 2 * $spacing;
      padding-right: 2 * $spacing;
    }
  }

  &__inner {
    background-color: $gray-lightest;
    padding: 2 * $spacing $spacing 2 * $spacing;

    @include mq(md) {
      padding: 3 * $spacing 3 * $spacing 2 * $spacing;
    }
  }

  &__main {
    flex: 1 0 70%;
  }

  &__content {

    &__inner {

      h2 {
        font-weight: $font-weight-bold;
        margin-top: 1.5 * $spacing;
        margin-bottom: $spacing;
      }

      p {
        margin-bottom: $spacing;
        max-width: $text-line-length-xl;

        &:last-child {
          margin-bottom: 0;
        }
      }

      li {
        max-width: $text-line-length-xl;

        + li {
          margin-top: $spacing/2;
        }
      }

      ul, ol {
        display: block;
        margin-bottom: $spacing;
      }

      ul {
        li {
          list-style-type: none;
          margin-left: $spacing;

          &::before {
            border-bottom: 1px solid $gray;
            vertical-align: middle;
            display: block;
            height: $line-height * 0.5em;
            content: '';
            float: left;
            width: $spacing/2;
            margin-left: -$spacing;
            margin-right: $spacing/2;
          }        }
      }

      ol {
        margin-left: $spacing;
        list-style-type: decimal;
      }

      blockquote {
        max-width: $text-line-length-xl;
        background-color: lighten($brand-peach, 15%);
        color: a11y-color(ms(0), false, $text-color, lighten($brand-peach, 17.5%));

        border-left: $spacing/2 solid $brand-peach;
        margin: $spacing 0;
        padding: $spacing/2;

        @include mq(md) {
          padding: $spacing;
        }

        p {
          margin-bottom: 0;
          max-width: none;

          @include mq(xl) {
            font-size: ms(-1);
          }
        }
      }
    }
  }

  &__breadcrumb {
    color: $text-color;
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: $spacing/2;
    color: $gray;

    a {
      color: $gray-dark;
    }
  }

  &__title {
    font-size: ms(4);
    font-weight: $font-weight-bold;
  }

  &__title,
  &__toc {
    margin-bottom: 1.5 * $spacing;

    @include mq(md) {
      margin-bottom: 2.5 * $spacing;
    }
  }

  &__toc,
  &__footer-menu,
  &__section-menu {



    &__title {
      font-weight: $font-weight-bold;
      font-size: ms(0);
      margin-bottom: $spacing/2;
      margin-left: $spacing;

      @include mq(md) {
        margin-left: 2 * $spacing;
      }
    }

    li {
      + li {
        margin-top: $spacing/4;
      }

      list-style-type: none;
      margin-left: $spacing;

      @include mq(md) {
        margin-left: 2 * $spacing;
      }

      &::before {
        border-bottom: 1px solid $gray;
        vertical-align: middle;
        display: block;
        height: $line-height * 0.5em;
        content: '';
        float: left;
        width: $spacing/2;
        margin-left: -$spacing;
        margin-right: $spacing/2;

        @include mq(md) {
          width: $spacing;
          margin-left: -2 * $spacing;
          margin-right: $spacing;
        }
      }
    }

    a {
      color: $brand-blue;
    }
  }

  &__footer-menu {
    background-color: #fff;
    padding: 3 * $spacing $spacing;
    border-top: 1px solid $gray-light;

    @include mq(md) {
      padding: 2 * $spacing 3 * $spacing;
    }
  }

  &__talk {
    background-color: white;
    padding: 2 * $spacing $spacing;
    border-top: 1px solid $gray-light;
    display: flex;
    flex-direction: row;
    align-items: center;

    @include mq(md) {
      padding: $spacing 3 * $spacing;
    }

    &__text {
      border-left: $spacing/4 solid $brand_green;
      padding-left: $spacing;
    }

    &__image {
      margin-left: auto;
      padding-left: $spacing;

      img {
        display: block;
        width: 6 * $spacing;
        height: 6 * $spacing;
        object-fit: cover;
        object-position: center;
        border-radius: 9999px;
      }
    }

    &__heading {
      font-size: ms(2);
      color: $brand-blue;
      margin-bottom: $spacing/2;
    }

    &__call {
      font-family: $font-family-heading;
      display: inline-block;
      color: $brand-green;
      text-decoration: none;
      font-size: ms(1);
      margin-top: $spacing/4;
      font-weight: $font-weight-black;
    }
  }
}