---
title: Activities
section: services
order: 3
---
The Second Chance centre is a dedicated space for people to meet and support each other. Our building offers a number of useful resources, including specialist IT equipment and an adapted kitchen.

We offer people a chance to engage in activities they perhaps wouldn't try otherwise. The sessions we offer are subject to change and we’re always looking for new opportunities that meet the needs of our members, so [if you’re a professional who thinks they have something to offer please get in touch](/get-in-touch).

> Due to the ongoing COVID-19 pandemic, we are currently limiting the use of our building and focusing on activities that take place out in the community. We are also running some activities at the centre in a COVID-secure way, with masks, hand-washing and social distancing all in place. We place the safety of those we care for above all else.

We run a wide variety of group workshops and one-on-one activities, both at our centre and out in the community, including:

## Art, Drama & Music

These fun and creative sessions are designed to help improve communication skills, dexterity, coordination, confidence and overall mental health.

![Member of Second Chance in woodworking room.](/uploads/woodwork.jpg "Our woodworking room is very popular with our members.")

## Cooking

Our cookery activities promote skills around planning, implementing, problem solving and completing tasks. We give people the opportunity to shop for ingredients, manage money, cope in crowded environments, prepare food, use equipment safely, follow instructions and concentrate on the task at hand.

## Memory

Our memory exercises are designed around offering peer support, promoting new strategies, increasing confidence and improving general memory and recall.

## IT, Literacy & Maths

These sessions help develop basic English and number skills, improve communication and navigate everyday technology such as tablets, smartphones and other devices.

![Member of Second Chance in learning room.](/uploads/IMG_4154.jpg "Gaining skills in one of our workshops is practical and a good way to way to improve your self esteem too.")

## Communication

Our communication activities promote independence when communicating with others. They're also designed to help increase confidence, learn new skills, adapt to changes, and build on peer support.

## Physical
These activities help improve or maintain physical ability and promote independence by teaching people how to safely complete physical tasks.