---
title: Additional support
section: advice
order: 7
---
## Which welfare benefits are available?

A brain injury is likely to have an effect on your finances. Claiming benefits can help ease the pressure. The system can be complex and confusing, but lots of help and advice is available.

The Headway website has information about the three most relevant benefits for people with a brain injury:

1.  [Personal Independence Payment (PIP)](https://www.headway.org.uk/about-brain-injury/individuals/practical-issues/welfare-benefits/personal-independence-payment/)
For people who have difficulty with everyday living and/or moving around
2.  [Employment and Support Allowance (ESA)](https://www.headway.org.uk/about-brain-injury/individuals/practical-issues/welfare-benefits/employment-and-support-allowance/)
For people who have difficulty working due to illness or disability
3.  [Universal Credit](https://www.headway.org.uk/about-brain-injury/individuals/practical-issues/welfare-benefits/universal-credit/)
For people who have difficulty working due to illness or disability

When making a claim for benefits or appealing a decision you disagree with, it’s a good idea to get professional advice. You can learn all about getting [support with benefit claims and appeals](https://www.headway.org.uk/about-brain-injury/individuals/practical-issues/welfare-benefits/support-with-claims-and-appeals/) on the Headway website.

![Two men sat at a desk talking](/uploads/legal-advice.jpg "Professional advice is recommended to ensure you receive the right support.")

You can use the [benefits calculators on the government website](https://www.gov.uk/benefits-calculators) to find out what benefits you might get and how you can claim. Remember - you can always [call the Headway helpline](https://www.headway.org.uk/supporting-you/helpline/) to talk through your situation, or get in touch with [Citizens Advice](https://www.citizensadvice.org.uk/) for help in figuring out which benefits you may be entitled to.

## What legal advice can I get?

The main Headway website has lots of great advice about [choosing a solicitor](https://www.headway.org.uk/about-brain-injury/further-information/legal-advice/choosing-the-right-solicitor/) and a useful list of [questions you can ask them](https://www.headway.org.uk/about-brain-injury/further-information/legal-advice/questions-to-ask-your-solicitor/). You can also search their comprehensive [directory of solicitors](https://www.headway.org.uk/supporting-you/in-your-area/head-injury-solicitors-directory/) who specialise in head injury cases. All the solicitors listed have agreed to work within the Headway Personal Injury Lawyers code of conduct.

> It is strongly recommended anyone wishing to seek advice from a solicitor should consult at least two or three firms before coming to a decision. Make sure you do your research and try a free consultation if they offer them.

## What other support is available?

There are a number of charities in place relating to specific occupations that can provide additional support, such as:

-   [Cavell Nurses’ Trust](https://www.cavellnursestrust.org/)
-   [The Coal Industry Social Welfare Organisation](https://www.ciswo.org.uk/about-us)
-   [Lighthouse Club: The Construction Industry Charity](https://www.lighthouseclub.org/)

It’s always worth looking online to see if there are any relevant organisations who can help.