---
title: Dealing with a recent brain injury
section: help-and-advice
order: 1
---
## Someone close to me has suffered a brain injury, what do I need to do?

The time immediately after a brain injury is often full of uncertainty. It’s natural to be anxious about the prospects for future recovery, but it’s also important to remember that every person is different and every brain injury is unique.

The effects of brain injury differ widely from person to person, depending on how severe the injury was and what parts of the brain were damaged. A person’s condition can be made up of a mixture of these effects, in varying degrees of severity.

![A close-up photo of two people holding hands. One person is wearing a wedding ring.](/uploads/hands.jpg "The amount of support someone needs after experiencing brain injury can vary a lot – it will take time to work out what kind of help is needed.")

### Where to begin

If you are struggling and need advice to understand what is happening, here are some things you can do first:

-   **If you’re local to Wakefield**, you can contact our team here at Second Chance by calling <a href="tel:00441924366735">01924 366 735</a> or emailing us at <rehab@schc.co.uk>. If you don’t live locally, use this map to [find your nearest Headway centre](https://www.headway.org.uk/supporting-you/in-your-area/).
-   **If you’re at the hospital**, feel free to ask doctors and nurses any questions you may have. In some parts of the UK, [Headway Acute Trauma Support (HATS) nurses](https://www.headway.org.uk/supporting-you/headway-acute-trauma-support/) may also be on hand to help.
-   **If you have questions or need emotional support** you can call the Headway helpline on <a href="tel:008088002244">0808 800 2244</a> - it’s available 9am to 5pm Monday to Friday. You can also email them at <helpline@headway.org.uk>.
-   **If you still have questions**, you can join the [Headway HealthUnlocked Forum](https://healthunlocked.com/headway). It’s an online community where you can talk about anything related to brain injury and get answers from people who have been through similar situations.
-   **If you are worried**, remember that you can always speak to your local GP.

![A man sat at a desk in the Second Chance rehabilitation centre. He is wearing glasses and smiling.](/uploads/man-with-glasses.jpg "At Second Chance we offer a wide range of therapy-led day services to support people on their rehabilitation journey.")

## What happens at the hospital?

Everyone’s experience at the hospital is different. If you’re visiting someone with a brain injury, try not to overwhelm them with too much information or talk to them for too long. It can be very tiring to listen and follow a conversation. The doctors and nurses on the ward should be able to advise you of the best way to approach your visit, depending on the stage of recovery.

Some people need quiet time to recover. The entire family being there may not be good for them - sometimes it’s better to stagger visits. Nurses can advise what your loved one needs most. If memory is affected, photos and other personal items may help trigger memories. Some wards have planned family meetings, or times when you can catch the consultant to ask what is happening. Some also have specialist nurses who will spend time with you explaining things.

{% tip 'Sharlene, Clinical Lead and Nurse', '/assets/images/sharlene-icon.jpg' %}
Don’t be afraid to ask nurses, doctors and consultants any questions you have. If they’re too busy to provide the details you need or you’re unsure of anything they’ve told you, ask at reception to speak to the [Patient Advice and Liaison Service (PALS)](https://www.nhs.uk/common-health-questions/nhs-services-and-treatments/what-is-pals-patient-advice-and-liaison-service/). They can offer advice and support.
{% endtip %}

You may find you have lots of questions. Write them down so you are prepared when you next see a consultant or nurse. **Things you might like to ask could include:**

- What can I do to help with my loved one’s recovery?
- Will there be scheduled family meetings for updates?
- Is it possible to speak to the neurosurgeon or a specialist nurse?

If you can, take notes. Write down ward numbers, consultant names, dates when things happen and what investigations or tests have taken place. Keeping some kind of record is a good idea - you’ll likely be feeling overwhelmed and will struggle to remember what happened without it. It can also help you keep track of what doctors and nurses have said, so you can check things have been actioned or refer to it when you need to give information.

You could also try writing a visitor’s diary or message book. This is a good way of sharing messages with other visitors and passing on key information or updates. It also helps avoid duplication or mixed messages. Your loved one may find it useful later down the line too – they might not remember any of this time and may want to understand exactly what happened, and when.

![Photo of someone making notes in a notebook while sat at a desk.](/uploads/making-notes.jpg "Taking notes will help you as it’s easy to feel overwhelmed by the amount of information you receive from different sources.")

## What other practical things can I do to help?

If your friend or relative lives alone, it’s a good idea to check their home to make sure:

- Any pets that need caring for are looked after
- Perishable food items in the fridge are thrown away
- All windows are locked
- Bins have been emptied
- The heating is on low in winter, as not to risk burst pipes

If your loved one has children, ask friends or relatives to help care for them or find out if any other childcare support is available. You should also update their school so they can be mindful of the situation and extend further support.

It’s also worth contacting your loved one’s employers and informing their bank and utilities suppliers as soon as possible. You may not be able to do anything directly, but if they are informed why things like credit cards and bills aren’t being paid it can avoid further problems later on.

## Can I get any help or support at this stage?

Remember to ask for help from family and friends. People don’t always know what to say or do and are usually more than happy to help – let them!

> It can be really tiring trying to keep everyone up to date – set up a WhatsApp or Messenger group with everyone in, so you can update everyone all at once. You could also [set up a page on the "I’m calling about Chris" section of the Headway website](https://www.callingabout.org.uk/) and update it with text, photos or videos as often or as little as you like.

Some hospitals have family rooms. These are places to stay when you are not wanting to leave your loved one because of their condition at the time. There may also be safe outside places you can access with your loved one. Sometimes pastoral care, support groups or charities can help - it’s always worth asking.

Parking at the hospital can be expensive. Check to see if there are cheaper ways to visit your friend or relative - maybe you can travel by public transport or stay with someone who lives close by.

If you are struggling financially, you can apply for the [Headway Emergency Fund](https://www.headway.org.uk/supporting-you/headway-emergency-fund/). You could get up to £500 to help with practical implications, such as travel costs, emergency accomodation and clothing needs.

## What does brain injury rehabilitation look like?

Not everyone needs rehabilitation and their recovery may be relatively quick. Some people require all three elements of rehabilitation to help them achieve their optimum recovery.

Rehabilitation is provided by one or more health care professionals depending on a person’s assessed needs. These can include Occupational Therapists, Physiotherapists, Neuro Psychologists and Speech and Language Therapists. There may be other health care professionals involved depending on needs.

There are a number of services local to Wakefield who may be able to provide help with rehabilitation:

-   MY Therapy - a team of community therapists and support workers working across the Wakefield district. You can find out more about them on [The Mid Yorkshire Hospitals NHS Trust website](https://www.midyorks.nhs.uk/my-therapy-team#:~:text=MY%20Therapy%20is%20a%20team,based%20across%20several%20community%20bases.). 
-   [Locala](https://www.locala.org.uk/) - a not-for-profit social enterprise based in Batley.
-   LCH Neighbourhood Teams - learn more on the [Leeds Community Healthcare website](https://www.leedscommunityhealthcare.nhs.uk/).\
We also offer a range of [services and therapies here at Second Chance](/services/).

## What needs to happen before being discharged home?

Before being sent home, there will probably be a discharge meeting. This is a chance to discuss any remaining difficulties the patient may have, how suitable their home environment is and how any future rehabilitation needs can be met.

The meeting can also be used to figure out if any follow-up support and medications are needed. Discharge planning will likely involve social services and hospital or rehabilitation staff, alongside close family members.

It may be possible for the patient to go home on a trial run basis before returning home permanently. This will help family members figure out if the home needs to be adapted in any way. Remember to be honest about how you are feeling and how much you think you’ll be able to manage.

## What other things do I need to think about?

The discharge process can be very overwhelming. It’s best to be open and honest about what is and isn’t manageable. Be clear about what you and your family need so everything can be considered when planning the return home.

**Start by asking yourself these questions first:**

- Realistically, how much time can you devote to supporting your loved one?
- Do you need to return to work just yet? Can you reduce your hours?
- Are your own health needs being met? Who will help if you become unwell?
- Do you need to do a food shop before returning home? Can someone get a few days of food in for you?

**Then turn your attention to others:**

- If you have children, what are their schedules like? Will you need extra support to drop them off and pick them up from school or other activities?
- If your loved one was previously the only driver, what arrangements need to be made to get around?
- What day-to-day responsibilities did your loved one take care of that you might need to take over? What help and support will you need to do this?

**You should also think about logistical things, such as:**

- How easily will your loved one be able to move around the house?
- Will adjustments adaptations need to be made around the house such as moving a bed downstairs, or installing ramps or handrails?

It’s important to take care of yourself throughout this time. Make sure you have the support you need - it’s normal to go through a range of emotions during this transition, so lean on people when you need to.

> Everyone will probably feel very overwhelmed and fatigued for the first couple of weeks. Try not to plan too many visitors and ask people to call before popping around.

[Learn more about rehabilitation and continuing care](/advice/rehabilitation-and-continuing-care/).