---
title: Effects of brain injury
section: advice
order: 3
---
## How does brain injury affect people?

Everything depends on the severity of the injury. Even after a minor head injury, brain function can be temporarily impaired - this is sometimes called concussion. It can cause headaches, dizziness, fatigue, depression, irritability and memory problems. Most people who experience a minor head injury are symptom-free within two weeks. However, some can experience problems for months or years.

The more severe the brain injury, the more pronounced the long-term effects are likely to be. Survivors of more severe brain injury may have complex long-term problems that affect their [personality](https://www.headway.org.uk/about-brain-injury/individuals/effects-of-brain-injury/emotional-effects/), their [relationships](https://www.headway.org.uk/about-brain-injury/individuals/relationships-after-brain-injury/) and their ability to lead an independent life. When facing a challenging and uncertain future, it's important to make good use of the [rehabilitation](https://www.headway.org.uk/about-brain-injury/individuals/rehabilitation-and-continuing-care/rehabilitation/) and [support](https://www.headway.org.uk/supporting-you/) available. No-one should go through this alone.

## What are some of the most common examples?

These are some of the most common examples of how a brain injury may affect you or your loved one. You may experience one or two of these, or a mixture of many of them. You may find you experience them strongly, or just a little. Everyone is different.

## Cognitive effects

- Attention and concentration difficulties
- Communication difficulties
- Confusion
- Difficulty with decision making
- Difficulty following instructions
- Difficulty processing information
- Dislike of crowds
- Dislike of noisy environments
- Language loss
- Memory problems
- Pathological crying
- Pathological laughter
- Planning and organisation problems
- Reading difficulties
- Reduced insight
- Spatial disorientation
- Speech difficulties
- Writing difficulties

## Physical effects

- Balance difficulties 
- Bladder control difficulties
- Coordination difficulties
- Dizziness
- Epilepsy
- Fatigue
- Headaches
- Hearing problems
- Incontinence
- Involuntary movements
- Loss of smell    
- Loss of taste
- Migraines
- Mobility problems 
- Pain
- Paralysis
- Left-sided paralysis
- Right-sided paralysis
- Seizures
- Sight problems
- Swallowing disorders
- Weakness
- Right-sided weakness
- Left-sided weakness
- Visual inattention to left-hand side
- Visual inattention to right-hand side

## Behavioural effects

- Aggression
- Disinhibition 
- Frustration
- Impulsive behaviour
- Irritability
- Obsessive behaviour
- Social behaviour problems
- Use of inappropriate language

## Emotional effects

- Anger
- Anxiety
- Depression
- Lack of confidence 
- Lack of motivation
- Mood swings
- Worry