---
title: How our services can help
section: services
order: 1
---
Second Chance exists to improve people's lives after brain injury. Everyone has the right to an acceptable quality of life - disability should never be a barrier to acquiring the skills, knowledge and understanding needed to achieve this.

Our small, committed team all have lived experiences of brain injury, either through work or personal circumstances. We're proud of our interdisciplinary approach - by undertaking a holistic, person-centred assessment, tailored support plans can be delivered at home, in the community or at our centre.

![Second Chance staff member smiling at the camera.](/uploads/IMG_4028.jpg "Our dedicated staff will undertake a holistic, person-centred assessment of your needs.")

Through our therapies and support, we aim to help people:

-   Improve their confidence and overall mental health
-   Learn and adapt through group activities
-   Increase their independence at home and in the community
-   Access specialist equipment and resources 
-   Feel empowered to seek out new opportunities
