---
title: Living with a brain injury
section: advice
order: 5
---
## What do I need to know about getting around?

Public transport is a great way to maintain your independence and freedom. Although brain injury survivors sometimes face challenges when travelling around, public transport is increasingly becoming more and more accessible.

> If public transport isn’t available near where you live, it’s worth remembering that many councils offer a community transport service. Contact your local authority to find out which community transport schemes may be available to you.

The majority of buses and trains have disabled access ramps, an area for wheelchair users and priority seats for those with mobility issues. Many of the major bus companies also offer ‘journey assistance cards’ to make it easier for passengers with disabilities to ask for assistance.

You may be entitled to free or discounted bus, coach and rail travel. Get in touch with your local bus company to find out about disabled bus passes. You can also apply for a [disabled person’s rail card](https://www.disabledpersons-railcard.co.uk/) and a [disabled person’s coach card](https://www.nationalexpress.com/en/offers/coachcards/disabled).

[Learn more about getting around over on the main Headway website](https://www.headway.org.uk/about-brain-injury/individuals/brain-injury-and-me/stop-the-bus-a-guide-to-public-transport/).

> If you hold a driving license and have suffered a head injury, you need to inform the DVLA. Failure to do so may result in a fine and prosecution if you are involved in an accident as a result. Depending on your injury, you may or may not be able to continue driving. As every brain injury is different, each case is considered on an individual basis. You can always talk to your GP or consultant for more advice around this issue.

[Click here to report your medical condition to the DVLA](https://www.gov.uk/report-driving-medical-condition).

## Do I need a Brain Injury ID card?

[The Headway Brain Injury Identity Card](Find out more about the Brain Injury ID card and how to apply for your own) is designed to help police officers and staff more easily identify brain injury survivors and ensure that they receive an appropriate response and support.

The card can also provide brain injury survivors with added confidence in everyday social scenarios. Each card is personalised, helping the card holder to explain the effects of their brain injury and request any support they may need.

[Find out more about the Brain Injury ID card and how to apply for your own](https://www.headway.org.uk/supporting-you/brain-injury-identity-card/).

## What do I need to know about prescriptions?

Talk to your pharmacy to find out the easiest way to manage prescriptions. They may be able to deliver them to your door or send reminders to order more.

You can also ask your GP about having your tablets given to you in a dosette box or blister pack so they’re easier to manage.

![A photo of a pharmacist in a pharmacy. She is smiling. ](/uploads/pharmacist.jpg "Some pharmacists are able to deliver prescriptions or send you reminders to help you remember when to re-supply.")
