---
title: Our staff and trustees
section: about
order: 2
---
![Photo of our clinical manager, Sharlene Featherstone](/uploads/sharlene.jpg "As the centre’s clinical manager, Sharlene is passionate about helping improve lives after brain injury.")

Second Chance is more than just a building - it’s a philosophy of care for people whose lives have been affected by brain injury. Our team of dedicated, highly trained staff and volunteers are the most important resource we have for delivering the high standard of support we offer.

## Directors

- **Katie Bennison** - Financial Planner
- **Peter Bourne** - Clinical Scientist
- **Richard Caley** - Clinical Scientist
- **Catherine Elizabeth Corbett** - Solicitor
- **Jane Ailsa Horton** - Solicitor

## Staff

-   **Sharlene Featherstone RN** – Clinical Manager
-   **Pete Taylor** – Business Manager
-   **Janice Lloyd** – Finance Manager
-   **Louise Sharp** – Finance Administrator
-   **Jane Mountain** – Secretary/Receptionist
-   **Nicola Walley** – Casework Project Manager
-   **Lucy Hoyle** – Community Case Worker
-   **Georgie Bottomley** – Community Case Worker
-   **Amani Fiaz** – Community Case Worker
-   **Bethan Isaac** – Services and Rehabilitation Co-ordinator
-   **Gemma Burton** – Specialist Occupational Therapist
-   **Diane Olszewska** – Occupational Therapist
-   **Emily Kirkham** – Speech and Language Therapist
-   **Vikki Murray** – Specialist Neurophysiotherapist
-   **Sue Marsay** – Brain Injury Support Nurse
-   **Shelly Sanderson** – Senior Support Worker
-   **Kay Taylor** – Support Worker
-   **Liz Cassidy** – Support Worker
-   **James Bishop** – Support Worker
-   **Sally Carrington** – Support Worker
-   **Nikki Jeffries** – Support Worker
-   **Trish Lockwood** – Centre Cleaner

{% tip 'Pete, Business Manager at Second Chance', '/assets/images/pete-icon.jpg' %}
Our dedicated, highly trained staff and volunteers are the most important resource we have for helping our members.
{% endtip %}

