---
title: Our centre
section: about
order: 1
---
## Contacting us

Second Chance Headway Centre,
Almshouse Lane,
Wakefield WF1 1AD

[01924 366 735](tel:00441924366735)
[rehab@schc.co.uk](mailto:rehab@schc.co.uk)

Alternatively, visit the [Talk to us page](/talk) for more ways of getting in touch.

## Visting our centre

Our centre is split across two buildings which are only 50 metres apart, located in the centre of Wakefield on Almshouse Lane next to the Ridings Shopping Centre and just a few minutes walk from Wakefield Cathedral.

- **We are easy to reach by bus**.
As we are located in Wakefield city centre there are many bus stops within a five minute walk of our building.
- **We are easy to reach by car**.
We are happy to advise you on parking options. The Ridings blue car park is located just a few minutes from our centre.
- **We are ten minutes walk from a train station.**
Wakefield Westgate and Wakefield Eastgate are both approximately ten minutes’ walk from our centre.

<a class="button" href="https://maps.google.com/maps?ll=53.681921,-1.495503&z=14&t=m&hl=en&gl=GB&mapclient=embed&daddr=Second%20Chance%20Headway%20Centre%20Almshouse%20Ln%20Wakefield%20WF1%201DS@53.6819214,-1.4955027">Get directions</a>

{% include 'map.njk' %}



