---
title: Our staff and trustees
section: about
order: 2
---
![Photo of our clinical manager, Sharlene Featherstone](/uploads/sharlene.jpg "As the centre’s Clinical Lead and Nurse, Sharlene is passionate about helping improve lives after brain injury.")

Second Chance is more than just a building - it’s a philosophy of care for people whose lives have been affected by brain injury. Our team of dedicated, highly trained staff and volunteers are the most important resource we have for delivering the high standard of support we offer.

## Management

-   **Nathan Garbutt-Moore** ([nathan@schc.co.uk](mailto:nathan@schc.co.uk)) – Business Manager
-   **Sharlene Featherstone RN** ([sharlene@schc.co.uk](mailto:sharlene@schc.co.uk)) – Clinical Lead and Nurse
-   **Nicola Walley** ([nicola@schc.co.uk](mailto:nicola@schc.co.uk)) – Casework Project Manager

## Staff

-   **Louise Sharp** – Finance
-   **Jane Mountain** – Secretary and Receptionist
-   **Bethan Isaac** – Rehabilitation Co-ordinator
-   **Gemma Burton** – Specialist Occupational Therapist
-   **Diane Olszewska** – Occupational Therapist
-   **Emily Kirkham** – Speech and Language Therapist
-   **Vikki Murray** – Specialist Neurophysiotherapist
-   **Sue Marsay** – Brain Injury Support Nurse
-   **Shelly Sanderson** – Senior Support Worker
-   **Sally Carrington** – Music Teacher and Support Worker
-   **Lucy Hoyle** – Community Case Worker
-   **Georgie Bottomley** – Community Case Worker
-   **Amani Fiaz** – Community Case Worker
-   **Chalotte Kilburn** –  Occupational Therapist
-   **Kay Taylor** – Support Worker
-   **Liz Cassidy** – Support Worker
-   **Nikki Jeffries** – Support Worker
-   **Trish Lockwood** – Domestic Worker

## Trustees

- **Jane Ailsa Horton** - Solicitor
- **Richard Caley** - Clinical Scientist
- **Elizabeth Corbett** - Former Social Worker
- **Emma Jowett** – Member representative
- **Peter Bourne** - Member representative

## Patrons

- **Neil Fox MBE** - former Rugby League Player
- **Gaynor Barnes** - former ITV News Presenter
- **John Godber OBE** - Playwright and Creative Director of Theare Royal Wakefield


We also have several amazing volunteers and are proud to be part of the Citizens Coin scheme.
If you would like to apply to volunteer with us, please get in touch [rehab@schc.co.uk](mailto:rehab@schc.co.uk)

{% tip 'Nathan, Business Manager at Second Chance', '/assets/images/nathan-icon.jpg' %}
Our dedicated, highly trained staff and volunteers are the most important resource we have for helping our members.
{% endtip %}

