---
title: Rehabilitation and continuing care
section: advice
order: 4
---
## What will the rehabilitation journey look like?

Rehabilitation after brain injury is unpredictable because every case is unique. During recovery, different parts of the brain take over the activities of the damaged areas and new nerve pathways can be established using undamaged brain cells. Engaging in different activities helps these alternative pathways to develop.

The goal of rehabilitation is to help the brain learn new ways of working in order to minimise the long-term impact of the brain injury. Rehabilitation also helps the survivor and the family to cope with any remaining disabilities. It’s important to have realistic expectations. Everyone is different, and no two journeys are the same.

> Rehabilitation ensures people are included in their communities, employment and education rather than being isolated from the mainstream. It can include support to learn basic communication skills; exercise classes to improve or maintain optimum health, wellbeing and occupation; and complex neurological rehabilitation following major trauma or stroke.

Recovery can be a slow process. Take advice from your health care workers - they will guide you when making big decisions. Like every journey, rehabilitation is rarely without the occasional bump or change in direction. People can improve quickly, then take a few steps back or ‘plateau’ and stay still for a while, rather like a game of snakes and ladders. It can be disheartening, but it’s to be expected.

![Photo of the board game snakes and ladders. Snakes and ladders is how many people say the brain injury recovery process feel like.](/uploads/snakes-and-ladders.jpg)

There are many reasons why rehab can change pace or direction. These include things like stress due to external factors such as work, finances and housing. Fatigue can call for the process to be slowed down. Sometimes, people are placed on waiting lists for specific therapies or help, which can also cause things to pause for a while.

## If rehabilitation is offered to me, what might it look like?

In most cases, rehabilitation has to be funded. Some rehab is funded by the NHS - however, some specialist rehab needs to be funded separately, and will be decided by your local Clinical Commissioning Group (for example, NHS Wakefield CCG.) Long-term rehab and support will be looked at by social services.

There are three types of rehabilitation:

1. **Inpatient rehabilitation**
Some hospitals have a neuro rehabilitation ward. There are also private neurological rehabilitation centres funded by the NHS for an agreed time to provide further residential rehabilitation.
2. **Outpatient rehabilitation**
Some people may be well enough to return home and receive further treatment as an outpatient, either at a local hospital or at a separate rehabilitation centre.
3. **Community rehabilitation**
Following an inpatient rehabilitation stay, some people may be transferred to a residential transitional living unit. Here people can develop their independent living skills so they may be able to live in a place of their own. Others will go straight back to their homes, with a community rehabilitation team or outreach team helping them to make further progress; this may involve therapists working with the person in their home or community environment.

## What types of continuing care are available?

If a person with a brain injury no longer requires intensive rehabilitation but still needs further support, there are a number of options for continuing care. This includes residential/nursing care, intermediate care and care at home.

> Not every type of care will necessarily be available in your area - [contact us](/about/contact/) or talk your local Headway centre to find out what’s possible where you live. Further information on residential care units with specialist brain injury services is available from the Headway helpline, or you can search for a unit near you on [the Headway approved care providers page](https://www.headway.org.uk/supporting-you/in-your-area/approved-care-providers/).

**Types of ongoing care that may be available:**

1. **Residential/nursing care**
If your relative no longer requires intensive rehabilitation, but isn’t able to return home, they may be assessed as requiring long-term residential care. There are many residential homes which specialise in caring for people with brain injuries. These units provide long-term rehabilitation services and enable people with brain injuries to continue to maximise their potential for improvement. Funding for residential care is means-tested, so your loved one may have to contribute some of the costs themselves. However, if they are entitled to nursing care then this should be funded by NHS Continuing Healthcare. All residential care services should be registered with the Care Quality Commission (CQC). You can check whether a particular unit is registered and view reports on their service by contacting the CQC directly.
2. **Intermediate care**
If your relative does not require long-term care, they may be provided with NHS funded Intermediate Care. This is an integrated programme of therapy and treatment, which usually lasts no more than six weeks. It can be provided in your relative’s own home or in a care home and is designed to support the transition from hospital back into the home environment.
3. **Care at home**
Where possible, try not to feel rushed into bringing your friend or relative home before you are ready. Be honest about your fears and anxieties. Try not to feel under pressure from your loved one, other family members, friends or staff. Only accept a proposed discharge date when you are certain the necessary assessments, support and equipment are all in place. Some hospitals may be able to offer a staged discharge to help ease the transition back home - it’s always worth asking to see what’s possible.


{% tip 'Sharlene, Head Nurse at Second Chance', '/assets/images/sharlene-icon.jpg' %}
If you need help at home that wasn’t identified before discharge happens, you can make a referral to social services. They can carry out a health and social care assessment to find out what support you need.
{% endtip %}

Your loved one may be entitled to various home care services, such as help with shopping, cleaning, cooking and managing finances, or day-to-day things like bathing, washing, getting up and going to bed. Meal deliveries, lunch clubs, recreational activities and outings are sometimes available too.

You can search for approved rehabilitation and care units on the main Headway website or contact the Headway helpline for more information.

## Will I need to pay for rehabilitation and continuing care?

Availability and funding varies from place to place. However, most units - including private ones - accept NHS referrals and can be funded by the NHS. Other possible sources of funding include your local social services, medical insurance, compensation claims and self-funding. [You can find out more about Continuing Healthcare on the NHS website](https://www.nhs.uk/conditions/social-care-and-support-guide/money-work-and-benefits/nhs-continuing-healthcare/).

Rehabilitation services can’t accept admissions until funding has been authorised. Many services accept referrals from outside their own area, so it’s worth looking into - just remember that places are often limited and waiting lists are long.

> Remember - if you are having trouble securing social care, you can make a referral to social services. They may be able to provide help with things like healthcare, equipment, help around the home, or residential care. You can also contact the Headway helpline if you require support or have any questions relating to care.

## What makes someone eligible for social care?

The main purpose of social care is to help people achieve the outcomes that matter to them. A person is eligible for care if they have an impairment or illness that makes them unable to achieve two or more of the following outcomes without assistance, pain or distress -

- managing and maintaining nutrition
- maintaining personal hygiene
- managing toilet needs
- being appropriately clothed
- being able to make use of their home safely
- maintaining a habitable home environment
- developing or maintaining family or other personal relationships
- accessing and engaging  in work, training, education or volunteering
- making use of necessary facilities or services in the local community including public transport, and recreational facilities or services
- carrying out any caring responsibilities for a child

## What do we do if we need some adaptations or equipment at home?

An occupational therapist from the hospital, rehabilitation team or social services will probably visit your home to assess you and your relative’s needs. This can include things like installing ramps, widening doors, upgrading heating, adapting lighting controls and improving general access and movement around the home.

If this hasn’t happened or your circumstances have changed, get in touch with your local social services - they are best positioned to help you with this. If adaptations to the home are necessary to meet your loved one’s needs, and the work is reasonable and practical, a means-tested Disabled Facilities Grant should be available to help meet the costs.

There are also a number of organisations who supply equipment, guidance on purchasing the right supplies for your needs and grants to help with the cost.

![A photo of a man cooking in a kitchen. He is concentrating on weighing out ingredients on a set of kitchen scales. ](/uploads/cooking.jpg "A wide variety of devices are available to help you adapt rooms around the home to your new needs.")
