---
title: Therapies and support
section: services
order: 2
---

We are able to offer various avenues of support and continually strive to find new and innovative ways of helping individuals and their family, friends and colleagues to understand and manage this hidden disability.

We offer a number of different services:

## Brain Injury Support

Our on-site Brain Injury Support Nurses monitor and manage the current and on-going medical conditions of people with brain injuries. Following their specialist assessments, they offer advice on how to maintain or improve health circumstances, as well as extending psychological support to people and their carers. Our nurses can refer, liaise with and signpost to other services to ensure brain injured individuals get the help they need to manage short and long term conditions.

## Occupational Therapy

Our Occupational Therapists help people with a brain injury to identify strengths and difficulties in everyday situations, then work towards practical solutions.They help people identify goals related to things like social activities, hobbies, work, education and everyday living skills. They look at ways to help people maintain, regain or improve their independence through a variety of techniques.

## Speech & Language Therapy

Our Speech and Language Therapist helps people work on improving their speech, communicating effectively and understanding others, as well as helping to manage breathing, eating and drinking. They work with brain injury survivors to develop a plan for improvement and offer access to suitable adaptations.

## Physiotherapy

Our Physiotherapist assesses people in order to identify any problems with movement and function. They offer advice on how to improve and manage an individual's current situation, referring them to other services that could help with reducing risk of injury or illness in the future. They can also start proceedings for adaptive equipment to help with getting up and around.

## Music Therapy

Many of our members find music therapy to be very beneficial. Not only can it help members by improving their physical coordination, memory and language skills, it also lifts the mood and improves self esteem. We offer a range of music therapy based activities including a singing group.

## Specialist Social Work

Our Social Worker works with people to assess, plan and advocate for their needs, helping them access care and navigate their rehabilitation options. They provide long-term emotional and practical support to people with brain injuries, along with their families and carers. Independent from the Local Authority, they can also offer complex case support, coordination, training, and advice to other agencies, both statutory and non-statutory.

## Community Case Work

Our Community Case Workers provide ongoing support to people with brain injuries, their families and their carers. Like our Social Workers, they assess, plan and advocate for people's specific needs, with a focus on maximising or maintaining independence at home and out in the community. They also steer people towards a range of useful services, interventions and community resources, including educational, social, leisure, physical and vocational activities.