---
title: Our vision and impact
section: about
order: 3
---
For over 40 years, Second Chance has provided a therapy-led day service for adults living with acquired or traumatic brain injury. In the face of every new challenge, we continue to grow, adapt and improve the ways we meet this vital need. And thanks to funding from the National Lottery, we've been able to extend our services further than ever before.

Every change we make to the way we operate is carefully considered. We recognise the unique role we play within our community - we supplement and complement the work provided by our friends and partners. By working closely with each of them, we're able to identify more people in need and forge stronger links with the wider community.

![Photo of a Second Chance staff member.](/uploads/IMG_3959.jpg "Our staff have helped improve the lives of hundredso of people living with brain injury")

## Our vision

We aim to provide the best possible therapy-led day centre available within a community setting. Moving forwards, we'll continue to explore how we can adapt our services and bring them into peoples homes.

**As a charity, we have several key objectives. We aim to:**

-   Relieve and rehabilitate people living in or near Yorkshire and the Humber who have sustained an acquired brain injury likely to cause significant disability
-   Provide facilities designed for their support, enablement, education, training and welfare
-   Advise and support carers, families and friends of such people
-   Promote further public understanding of all aspects of brain injury, along with information on the various types of support available
-   Maintain close contact with Social Services and the Health Authorities, as well as supplementing and supporting existing services and facilities

## Our impact

We're fortunate to live in a country with first class acute care. When it comes to saving lives, our NHS does incredible work - it's then up to us to make sure people and their families get the support they need as they adjust to their new lives.

In the past few years alone, we've been able to help hundreds of people living with brain injury. Thanks to the strong clinical element we have in place, the number of referrals we receive continues to grow and grow. Even more encouragingly, those we help are gaining significantly better outcomes, with families discussing their hopes for the future rather than their fears.