---
title: About
eleventyNavigation:
  key: About
image: /uploads/about.jpg
image_alt: "Photo of smiling Second Chance member of staff stood outside our centre in Wakefield."
---
We’re a therapy-led centre offering day services to adults living with acquired brain injury. Our centre at the heart of Wakefield provides effective rehabilitation services delivered by dedicated, professional and compassionate staff.