---
title: Services
eleventyNavigation:
  key: Services
image: /uploads/services.jpg
---
We offer a range of therapy-led services with the aim of helping people with brain injury live better lives – not just through gaining or regaining skills and confidence, but also by providing a safe space where our members feel they can be themselves.