---
layout: base
---
<section class="home-hero">
  <div class="container">
      <h1 class="home-hero__title">{{ meta.description }}</h1>
      <p class="home-hero__subtitle">We support people living with brain injury.</p>
  </div>
  {% icon "loop", "loop--hero--left", 660, 572 %}
  {% icon "loop", "loop--hero--right", 660, 572 %}
</section>

<section class="home-services">
  <div class="container">
    <div class="home-services__image">
      {% srcset '/assets/images/home-services.jpg', 'Photo of seated woman holding man’s hand', 'null', 640, 480, '(min-width: 1560px) 630px, (min-width: 658px) 40vw, 95vw' %}
    </div>
    <div class="home-services__text">
      <h2 class="home-services__heading section-title">We’re here to help you begin your rehabilitation journey with therapy, advice and activities.</h2>
      <p>Our team can help you create your own personal improvement plan through a wide variety of support and assistance.</p>
      <a class="button" href="/services">Learn about the services we provide</a>
    </div>
  </div>
  {% icon "loop", "home-services--loop", 660, 572 %}
  {% icon "loop", "home-services--loop--top", 660, 572 %}
</section>




<section class="home-contact">
  <div class="container">
    <div class="home-contact__text">
      <h2 class="home-contact__heading section-title">Have you been discharged from hospital?</h2>
      <p>We provide specialist support for people with brain injury and deliver help and advice to their families and friends.</p>
      <a class="home-contact__call" href="tel:{{ meta.phone | replace(' ','') }}">{% icon "phone" %}<span class="call-us">Call us: </span>{{ meta.phone }}</a>
    </div>
    <div class="home-contact__image">
      {% srcset '/assets/images/home-contact.jpg', 'Close up of hand holding a mobile phone', 'null', 700, 600, '(min-width: 1400px) 825px, (min-width: 1164px) 750px, 100vw' %}
    </div>
  </div>
</section>

<section class="home-advice">
  <div class="container">
    <div class="home-advice__text">
      <h2 class="home-advice__heading section-title">We know living with brain injury can be challenging.</h2>
      <h2 class="home-advice__heading section-title">We can provide advice to help you understand some of the key issues.</h2>
    </div>
    <nav class="home-advice__sections">
      {% set advice_pages = collections.pages | where("section", 'help-and-advice') %}
      {% for page in advice_pages %}
        <a class="button button--white" href="{{ page.url }}">{{ page.data.title }}</a>
      {% endfor %}
    </nav>
  </div>
  {% icon "loop", "home-advice--loop", 660, 572 %}
</section>

<section class="home-news">
  <div class="container">
    <h2 class="section-title">Latest news</h2>
    <ul>
    {%- for post in collections.posts -%}
      {% if (loop.index <= 4) %}

      <li class="home-news--item">
        <a target="_blank" href="{{ post.data.url }}">
        <div class="home-news--item--date">
          <div>{{ post.data.date | dateToFormat('dd')  }}</div>
          <div>{{ post.data.date | dateToFormat('LLL yyyy')  }}</div>
        </div>
        <div>
          <h3>{{ post.data.title }}</h3>
          <p>{{ post.data.description }}</p>
          </div>
        </a>
      </li>
      {% endif %}
    {%- endfor -%}
    </ul>
  </div>
</section>

<section class="home-casestudy">
  <div class="container">
    <div class="home-casestudy__image">
      {% srcset '/assets/images/home-peterpasties.jpg', 'Photo of Second Chance member called Peter with freshly baked pasties', 'null', 640, 480, '(min-width: 1560px) 630px, (min-width: 658px) 40vw, 95vw' %}
    </div>
    <div class="home-casestudy__text">
      <h2 class="home-casestudy__heading section-title">Peter’s second chance</h2>
      <p>“It's lovely to see Peter in a relaxed environment and enjoying his time there.”</p>
      <p>“It's clear to see he gets a lot out of the baking group and is really proud of what he makes each week.”</p>
    </div>
  </div>
  {% icon "loop", "home-casestudy--loop", 660, 572 %}
</section>

<section class="home-support">
  {% icon "loop", "home-support--loop", 660, 572 %}
  <div class="container">
    <div class="home-support__text">
      <h2 class="home-support__heading section-title">Get involved supporting our essential work</h2>
      <p>We rely on your generosity to do the work we do. You can help us by volunteering your time, raising funds or making a donation.</p>
      <a rel="noopener" target="_blank" class="button button--green" href="https://www.justgiving.com/secondchancewakefield">Support Second Chance</a>
    </div>
    <div class="home-support__image">
      {% srcset '/assets/images/home-support.jpg', 'Photo of two women taking part in Great North Run to raise money for Second Chance', 'null', 700, 600, '(min-width: 1400px) 825px, (min-width: 1164px) 750px, 100vw' %}
    </div>
  </div>
</section>