---
layout: base
---
{% set section_pages = collections.pages | where("section", section) %}

<div class="page">
  <div class="page__container">
    {% if section_pages | length > 1 %}
      <div class="page__sidebar">
        <nav class="page__sidebar__menu">
          <h3 class="page__sidebar__menu__title"><a href="/{{ section }}">{{ section | capitalize }}</a></h3>
          {% for section_page in section_pages %}
          {%- set isCurrent = (section_page.url == page.url) -%}
          <a class="page__sidebar__menu__link{% if isCurrent %} page__sidebar__menu__link--active{% endif %}" href="{{ section_page.url }}">{{ section_page.data.title }}</a>
          {% endfor %}
        </nav>
      </div>
    {% endif %}

    <article class="page__main">
      {% srcset image, image_alt, 'page__header-image', 1200, 530, '(min-width: 880px) 75vw, 100vw' %}
      <div class="page__inner">
        <div class="page__content">

          {% if section %}
            <div class="page__breadcrumb">
              <a href="/">Home</a> > <a href="/{{ section }}">{{ section }}</a>
            </div>
          {% endif %}
          <h1 class="page__title">{{ title }}</h1>

          {% if content | markdown | toc %}
            <nav class="page__toc">
              <h3 class="page__toc__title">On this page</h3>
              {{ content | markdown | toc | safe }}
            </nav>
          {% endif %}

          <div class="page__content__inner">
            {{ content | prependAbbreviations | markdown | safe  }}
          </div>
        </div>
      </div>

      {% if section_pages | length > 1 %}
        <nav class="page__footer-menu">
          <h3 class="page__footer-menu__title">More pages in the {{ section }} section</h3>
          <ul>
            {% for section_page in section_pages %}
            {%- set isCurrent = (section_page.url == page.url) -%}
            <li>
              <a class="page__footer-menu__link{% if isCurrent %} page__footer-menu__link--active{% endif %}" href="{{ section_page.url }}">{{ section_page.data.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
      <aside class="page__talk">
        <div class="page__talk__text">
          <h3 class="page__talk__heading">Need to talk to somebody?</h3>
          <p>We provide specialist support and advice to people with brain injury, their families and friends.</p>
          <a class="page__talk__call" href="tel:{{ meta.phone | replace(' ','') }}">
            {% icon "phone" %} Call us<span class="call-us">: {{ meta.phone }}</span>
          </a>
        </div>
        <div class="page__talk__image">
          <img src="/assets/images/call-nurse.jpg" alt="Photo of Second Chance staff member smiling."/>
        </div>
      </aside>
    </article>
  </div>
</div>