---
layout: base
---
{% set section = title | slug %}
{% set section_pages = collections.pages | where("section", section) %}

<div class="page">
  <div class="page__container">

    <article class="page__main page__main--section">
      <div class="page__inner page__inner--section">
        <div class="page__content">
          {% srcset image, image_alt, 'page__section-header-image', 1200, 530, '(min-width: 1400px) 825px, (min-width: 1164px) 750px, 100vw' %}

          <h1 class="page__title page__section-title">{{ title }}.</h1>

          <div class="page__section-content">
            <div class="page__section-intro">
              {{ content }}
            </div>
            <nav class="page__sectionmenu">
              <ul>
                {% for section_page in section_pages %}
                <li>
                  <a class="page__section-menu__link" href="{{ section_page.url }}">{{ section_page.data.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </nav>
          </div>

        </div>
      </div>
    </article>
  </div>
</div>

